.top {
  width: 100%;
  height: 75px;
  background-color: #ecb365;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  z-index: 999;
}

.Icon {
  color: #58391c;
  cursor: pointer;
  font-size: 20px;
  background-color: #ecb365;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecb365;
}
.topCenter {
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecb365;
}
.topList {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #ecb365;
}
.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  background-color: #ecb365;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-left: 15px;
  background-color: #ecb365;
}
